<!DOCTYPE html>
<html>
  <head>
    <title>Autocomplete</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: "layouts/navbar" %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
